.details {
    width: 1024px;
    border-radius: 5px;
}

.details th {
    background-color: skyblue;
    padding: 5px 5px;
}

.details tr .passed {
    background-color: lightgreen;
}

.details tr .failed {
    background-color: red;
}

.details tr .unchecked {
    background-color: gray;
}

.details td {
    background-color: lightblue;
    padding: 5px 12px;
}


.success {
    color: #67c23a;
}

.error {
    color: #e6a23c;
}

.failure {
    color: #f56c6c;
}


.get {
    color: #61affe;
}

.post {
    color: #49cc90;
}

.put {
    color: #fca130;
}
.delete {
    color: #f93e3e;
}

.head {
    color: #e6a23c;
}
.patch {
    color: #50e3c2;
}

.options {
    color: #409eff;
}

.skipped {
    color: #909399;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06d85f;
}

.popup .content {
    max-height: 80%;
    overflow: auto;
    text-align: left;
}



.details tr {
    color: black;
}

h3.title {
    margin: 15px 0;
    color: #1F5DEA;
}

pre {
    overflow: auto;
}
pre, .code-block {
    border: 1px solid #ebedef;
    border-radius: 4px;
    color: #222 !important;
    font-family: Consolas,monospace;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    overflow: hidden;
    white-space: pre-wrap;
}
