.success {
    font-weight: bold;
    font-size: medium;
    color: #67c23a;
}

.error {
    font-weight: bold;
    font-size: medium;
    color: #e6a23c;
}

.failure {
    font-weight: bold;
    font-size: medium;
    color: #f56c6c;
}

.skipped {
    font-weight: bold;
    font-size: medium;
    color: #909399;
}


.code-block {
    border: 1px solid #ebedef;
    border-radius: 4px;
    color: #222 !important;
    font-family: Consolas,monospace;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    white-space: pre-wrap;
}
